{% extends "base.html" %}
{% block title %}zarobieni.pl - lokalne zlecenia{% endblock %}
{% block content %}
<div class="p-4 bg-light rounded-3 mb-4">
    <h1 class="display-5">Zarobieni.pl</h1>
    <p class="lead">Lokalny marketplace drobnych zleceń. Znajdź pomoc lub dorób w okolicy.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'jobs:list' %}">Przeglądaj zlecenia</a>
    {% if user.is_authenticated and user.is_client %}
    <a class="btn btn-outline-primary btn-lg" href="{% url 'jobs:create' %}">Dodaj zlecenie</a>
    {% endif %}
</div>
{% endblock %}
